
<h2>Some info about the wordcount project</h2>

Django is an amazing framework for web developers because it provides the infrastructure required for
database-driven websites that have user authentication, content administration, contact forms, file uploads, and more.
Instead of creating all of these features from scratch, you can use the Django framework and utilize these components
that are already built, and focus your time on developing your web app instead.
<br />
<br />
<a href="{% url 'home' %}"> Back to homepage</a>


